.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form {
  margin: 0 auto;
  width: 600px;
  padding: 0 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
  transition: .2s;

  &.active {
    height: 70px;
  }

  & > * {
    margin-right: 5px;
  }

  .parametersField {
    flex: 3;
  }

  .methodField {
    flex: 1;
  }

  .priceField {
    flex: 0 0 100px;
  }

  .btn {
    padding-top: 5px;
  }

  .fillin {
    position: relative;

    .fillinDescription {
      font-size: 1rem;
      position: absolute;
      top: 120%;
      left: 0;
      width: 300px;
      text-align: left;
      display: none;
    }

    button:hover + .fillinDescription {
      display: block;
    }
  }

  @media (max-width: 600px) {

    &.active {
      height: 120px
    }

    .parametersField {
      flex: 0 0 70%;
      margin-right: 0;
    }

    .methodField {
      flex: 0 0 28%;
      margin-left: auto;
    }

    .priceField {
      flex: 0 0 30%;
      order: 1;
    }

    .btn {
      padding-top: 0;
      flex: 0;
      order: 2;
      margin-left: auto;
    }

    .fillin {
      order: 1;

      .fillinDescription {
        top: 150%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 350px) {
    &.active {
      height: 160px
    }
    
    .parametersField {
      flex: 0 0 100%;
    }

    .methodField {
      flex: 0 0 35%;
      margin-left: 0;
      order: 2;
    }

    .priceField {
      flex: 0 0 35%;
      order: 3;
      margin-left: auto;
    }

    .btn {
      margin-top: 10px;
      order: 4;
    }
  }
}