.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form {
  margin: 0 auto;
  width: 700px;
  padding: 0 10px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height: 0;
  overflow: hidden;
  transition: .2s;

  &.active {
    height: 70px;
  }

  & > * {
    margin-right: 5px;
  }

  .parametersField {
    flex: 3;
  }

  .methodField {
    flex: 1;
  }

  .thicknessField {
    flex: 1;
  }

  .priceField {
    flex: 0 0 100px;
  }

  .btn {
    padding-top: 5px;
  }

  .fillin {
    position: relative;

    .fillinDescription {
      font-size: 1rem;
      position: absolute;
      top: 120%;
      left: 0;
      width: 300px;
      text-align: left;
      display: none;
    }

    button:hover + .fillinDescription {
      display: block;
    }
  }

  @media (max-width: 650px) {

    &.active {
      height: 120px
    }

    .parametersField {
      flex: 0 0 50%;
      margin-right: auto;
    }

    .methodField {
      flex: 0 0 24%;
      margin-right: auto;
    }

    .thicknessField {
      flex: 0 0 24%;
    }

    .priceField {
      flex: 0 0 30%;
      order: 1;
    }

    .btn {
      padding-top: 0;
      flex: 0;
      order: 2;
      margin-left: auto;
    }

    .fillin {
      order: 1;

      .fillinDescription {
        top: 150%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }

  @media (max-width: 400px) {
    &.active {
      height: 220px
    }
    
    .parametersField {
      flex: 0 0 100%;
    }

    .methodField {
      flex: 0 0 35%;
      margin-left: auto;
      order: 2,
    }

    .thicknessField {
      flex: 0 0 35%;
      order: 2,
    }

    .fillin {
      order: 1,
    }

    .priceField {
      flex: 0 0 40%;
      order: 3;
      margin: 0 auto;
    }

    .btn {
      margin-top: 10px;
      flex: 0 0 100%;
      order: 4;
    }
  }
}