.root {
  display: inline-block;

  .link {
    display: inline-block;
    color: var(--link-account-nav-font-cl);
    font-size: 2.6rem;
    padding: .5rem 2rem;
    background-color: var(--link-account-nav-cl);
    transition: .2s;

    &:hover,
    &.active {
      background-color: var(--link-account-nav-cl-active);
      color: var(--link-account-nav-font-cl-active);
    }
  }
}