.root {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem .5rem;
  border-bottom: 1px solid #ccc;
  font-size: 1.5rem;
  background: var(--visit-item-bg-cl);
  color: var(--visit-item-font-cl);

  .date {
    flex: 0 0 75px;
    text-align: left;
  }

  .parameters {
    flex: 3;
    text-align: center;
  }

  .thickness {
    flex: 0 0 50px;
    text-align: center;
  }

  .method {
    flex: 0 0 45px;
    text-align: center;
  }

  .price {
    flex: 1;
    text-align: center;
  }

  .actions {
    flex: 0 0 30px;
    text-align: center;
  }

  &:hover {
    background: var(--visit-item-bg-cl-hover);
    color: var(--visit-item-font-cl-hover);
  }

  @media (max-width: 560px) {
    .parameters {
      padding: 4px 5px;
      font-weight: bold;
    }

    .price {
      position: absolute;
      color: goldenrod;
      top: 2px;
      right: 40px;
      font-size: 1.2rem;
    }
  } 

  @media (max-width: 460px) {

    .thickness,
    .method {
      position: absolute;
      bottom: 2px;
      font-size: 1.2rem;
    }

    .thickness {
      right: 80px;
      color: olive;
    }

    .method {
      right: 40px;
      color: red;
    }
  }
}