@import '../../../styles/animations.scss';

.root {
  display: inline-block;
  backface-visibility: hidden;
  transition: .2s;

  &:link,
  &:visited {
    color: var(--font-cl-link);
  }

  &:hover,
  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}