:root {
  //Colors
  --black: #000;
  --black-light: #222;
  --white: #fff;
  --white-darker: #eee;

  --grey: #777;
  --grey-dark: #555;
  --grey-lighter: #aaa;
  --grey-light: #ccc;

  --purple: #BD3381;
  --purple-light: #fd00b1;
  --purple-v-light: #f0eef5;
  --purple-v-light-2: #fbe5f5;
  --purple-dark: #6d0640;

  --red: #da1f15;
  --red-secondary: #f50057;
  --red-dark: #901414;
  --red-light: #e2caca;

  --green: #28a745;
  --green-dark: #0e6823;

  --orange: #ffa500;
  --yellow: #e5ff00;

  //Font colors
  --font-cl-primary: var(--black);
  --font-cl-light: var(--white);
  --font-cl-error: var(--red);
  --font-cl-green: var(--green);
  --font-cl-link: var(--purple-dark); 

  /* Layout elements colors */
  //page
  --auth-page-bg-cl: var(--purple-v-light);

  //navigation
  --auth-nav-bg-cl: linear-gradient(to right, var(--white) 25%, var(--purple), var(--purple-dark));
  --auth-nav-link-hover-cl: transparent;
  --auth-nav-link-font-cl: var(--grey-light);
  --auth-nav-link-font-hover-cl: var(--white);

  //account-navigation
  --account-nav-bg-cl: linear-gradient(to top,  var(--purple-dark), var(--purple));
  --link-account-nav-cl: var(--white);
  --link-account-nav-font-cl: var(--purple-dark);
  
  --link-account-nav-cl-active: transparent;
  --link-account-nav-font-cl-active: var(--white);

  //mobile-menu
  --mobile-menu-bg-cl: radial-gradient(var(--purple-dark), var(--purple));
  --mobile-menu-btn-cl: var(--orange);
  --mobile-menu-close-cl: var(--red); 
  --mobile-menu-link-cl: var(--white);
  --mobile-menu-link-font-cl: var(--purple-dark);
  --mobile-menu-link-active-cl: var(--purple);
  --mobile-menu-link-font-active-cl: var(--white);

  //mobile-nav
  --mobile-nav-bg-cl: linear-gradient(to top right, var(--purple-dark), var(--purple));
  --mobile-nav-link-cl: var(--grey-lighter);
  --mobile-nav-link-active: var(--white);

  //Loader colors
  --loader-cl: var(--red-secondary);
  
  /* layout end*/


  //Buttons colors
  --button-font-cl: var(--white);

  --button-cl-primary: linear-gradient(to right, var(--purple-dark), var(--purple));
  --button-cl-primary-hover: linear-gradient(to left, var(--purple) 75%, var(--purple-dark));

  --button-cl-secondary: linear-gradient(to right, var(--red-dark), var(--red));
  --button-cl-secondary-hover: linear-gradient(to left, var(--red) 75%, var(--red-dark));

  --button-cl-tertiary: linear-gradient(to right, var(--green-dark), var(--green));
  --button-cl-tertiary-hover: linear-gradient(to left, var(--green) 75%, var(--green-dark));

  --button-cl-disabled: linear-gradient(to right, var(--grey-dark), var(--grey));

  --button-cl-loader: var(--yellow);

  //Icon buttons
  --icon-button-bg-cl: var(--white);
  --icon-button-bg-cl-hover: var(--white-darker);
  --icon-button-icon-cl: var(--purple);
  --icon-button-icon-cl-hover: var(--purple-light);

  --icon-button-secondary-bg-cl: transparent;
  --icon-button-secondary-bg-cl-hover: var(--grey-light);
  --icon-button-secondary-icon-cl: var(--grey-dark);
  --icon-button-secondary-icon-cl-hover: var(--black);

  --icon-button-bg-cl-fill: var(--white);

  --icon-button-disabled-cl: var(--grey-light);
  --icon-button-disabled-icon-cl: var(--grey);

  //Square buttons
  --square-btn-bg-cl: var(--white);
  --square-btn-font-cl: var(--black);

  --square-btn-hover-bg-cl: var(--white);
  --square-btn-hover-font-cl: var(--purple);

  --square-btn-active-bg-cl: var(--purple);
  --square-btn-active-font-cl: var(--white);

  //Checkbox colors 
  --checkbox-cl: var(--purple);
  --checkbox-cl-bg: var(--white);
  --checkbox-cl-error: var(--red);
  --checkbox-cl-disabled: var(--grey);
  --checkbox-cl-disabled-bg: var(--grey-light);

  //Input colors
  --input-cl: var(--purple);
  --input-cl-bg: var(--white);
  --input-cl-active: var(--green);
  --input-cl-error: var(--red);
  --input-cl-error-bg: var(--red-light);

  //backdrop colors
  --backdrop-cl: rgba(0, 0, 0, .7);

  //alert colors
  --alert-cl: var(--black-light);
  --alert-cl-font: var(--font-cl-light);

  //modal colors
  --modal-cl: var(--white);

  //custom toasts colors
  --toast-cl-error: linear-gradient(to bottom right, var(--red-dark), var(--red));
  --toast-cl-success: linear-gradient(to bottom right, var(--green-dark), var(--green));
  --toast-shadow: 2px 2px 6px #555;

  //ClientItem colors
  --client-item-bg-cl: linear-gradient(to bottom right, var(--white), var(--purple-v-light-2));
  --client-item-bg-cl-hover: linear-gradient(to bottom right, var(--purple), var(--purple-dark));
  --client-item-name-cl: var(--purple);
  --client-item-name-cl-hover: var(--white);
  --client-item-last-visit-cl: var(--grey);
  --client-item-last-visit-cl-hover: var(--grey-light);

  //VisitItem colors
  --visit-item-bg-cl: transparent;
  --visit-item-bg-cl-hover: linear-gradient(to bottom right, var(--purple), var(--purple-dark));
  --visit-item-font-cl: inherit;
  --visit-item-font-cl-hover: var(--white);


  //Fonts
  --font-main: 'Lato', sans-serif;
  --font-decorative: 'Italianno', cursive;

}