:root {
  //Colors
  --black: #000;
  --black-light: #222;
  --white: #fff;

  --grey: #777;
  --grey-dark: #555;
  --grey-light: #ccc;

  --purple: #BD3381;
  --purple-dark: #6d0640;

  --red: #da1f15;
  --red-dark: #901414;
  --red-light: #e2caca;

  --green: #28a745;
  --green-dark: #0e6823;

  --yellow: #e5ff00;

  //Font colors
  --font-cl-primary: var(--black);
  --font-cl-light: var(--white);
  --font-cl-error: var(--red);
  --font-cl-green: var(--green);
  --font-cl-link: var(--purple-dark); 

  //Buttons colors
  --button-cl-primary: linear-gradient(to right, var(--purple-dark), var(--purple));
  --button-cl-primary-hover: linear-gradient(to left, var(--purple) 75%, var(--purple-dark));

  --button-cl-secondary: linear-gradient(to right, var(--red-dark), var(--red));
  --button-cl-secondary-hover: linear-gradient(to left, var(--red) 75%, var(--red-dark));

  --button-cl-tertiary: linear-gradient(to right, var(--green-dark), var(--green));
  --button-cl-tertiary-hover: linear-gradient(to left, var(--green) 75%, var(--green-dark));

  --button-cl-disabled: linear-gradient(to right, var(--grey-dark), var(--grey));

  --button-cl-loader: var(--yellow);

  //Checkbox colors 
  --checkbox-cl: var(--purple);
  --checkbox-cl-bg: var(--white);
  --checkbox-cl-error: var(--red);
  --checkbox-cl-disabled: var(--grey);
  --checkbox-cl-disabled-bg: var(--grey-light);

  //Input colors
  --input-cl: var(--purple);
  --input-cl-bg: var(--white);
  --input-cl-active: var(--green);
  --input-cl-error: var(--red);
  --input-cl-error-bg: var(--red-light);

  //backdrop colors
  --backdrop-cl: rgba(0, 0, 0, .7);

  //alert colors
  --alert-cl: var(--black-light);
  --alert-cl-font: var(--font-cl-light);

  //custom toasts colors
  --toast-cl-error: linear-gradient(to bottom right, var(--red-dark), var(--red));
  --toast-cl-success: linear-gradient(to bottom right, var(--green-dark), var(--green));
  --toast-shadow: 2px 2px 6px #555;

  //Fonts
  --font-main: 'Lato', sans-serif;
  --font-decorative: 'Italianno', cursive;

}