@import '../../../../../styles/animations.scss';

.root {
  display: inline-block;
  
  &:not(:last-child) {
    margin-right: 3rem;
  }

  .link {
    display: inline-block;
    font-size: 3rem;
    font-family: var(--font-decorative);
    text-decoration: none;
    color: var(--font-cl-primary);
    transition: 0.2s;
    backface-visibility: hidden;

    &:hover:not(.active) {
      animation: pulsate 1s infinite;
    }

    &.active {
      text-decoration: underline;
    }
  }

  &.auth {

    &:not(:last-child) {
      margin-right: 0;
    }

    .link {
      font-size: 1.6rem;
      font-family: var(--font-main);
      color: var(--auth-nav-link-font-cl);
      height: 40px;
      line-height: 40px;
      padding: 0 1.4rem;
      transform: scale(1);
      transition: .2s;

      &:hover:not(.active),
      &.active {
        animation: none;
        text-decoration: none;
        background-color: var(--auth-nav-link-hover-cl);
        color: var(--auth-nav-link-font-hover-cl);
        transform: scale(1.1);
      }
    }
  }
}