.root {
  width: 300px;
  max-width: 100%;
  padding: 20px 10px 10px 10px;
  font-size: 1.8rem;

  .option {
    display: inline-block;
    width: 9rem;
  }

  .btns {
    text-align: center;

    button {
      margin: .5rem;
    }
  }
}