.root {
  position: absolute;
  top: 2rem;
  left: 0;
  padding: 0 30rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1600px) {
    padding: 0 5rem;
  }

  @media (max-width: 825px) {
    height: 0;
    top: 3rem;
    padding: 0 2rem;
  }
}