.root {
  width: 100%;
  height: 100vh;
  background: url('/images/backgrounds/main-1920x1024.jpg');
  background-size: cover;
  background-position: 70% 50%;

  display: flex;
  flex-direction: column;

  .main {
    flex: 1;
  }
}