.root {
  position: relative;
  display: inline-block;
  width: 220px;
  max-width: 100%;
  margin-top: 14px;

  .input {
    display: inline-block;
    padding: 6px 10px;
    border: 1px solid var(--input-cl);
    box-shadow: 0 2px 0 -1px var(--input-cl);
    background-color: var(--input-cl-bg);
    border-radius: 4px;
    font-size: 18px;
    width: 220px;
    max-width: 100%;
    font-family: 'Lato', sans-serif;
    transition: .2s;

    -moz-appearance:textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &::placeholder {
      opacity: .8;
    }

    &:focus {
      outline: none;
      border-bottom: 1px solid var(--input-cl-active);
      box-shadow: 0 2px 0px -1px  var(--input-cl-active);
    }

    &.withUnit {
      padding-right: 30px;
    }

    &.small {
      font-size: 16px;
    }
  }

  .label {
    position: absolute;
    top: -18px;
    left: 5px;
    opacity: 1;
    transform: translate(0, 0) scale(1);
    font-size: 14px;
    transition: .2s;
    max-width: 100%;
  }


  .input:placeholder-shown + .label {
    transform: translate(10px, 23px) scale(1.4);
    opacity: 0;
    visibility: hidden;
  }

  .input:focus + .label {
    color: var(--input-cl-active);
  }

  .unit {
    position: absolute;
    font-size: 18px;
    top: 50%;
    transform: translateY(calc(-50% - 6px));
    right: 8px;
  }

  .message {
    text-align: left;
    margin-top: 1px;
    font-size: 10px;
    line-height: 1.1;
    
    &.right {
      text-align: right;
    }

    &.center {
      text-align: center;
    }
  }

  &.fullWidth {
    display: block;
    width: 100%;

    .input {
      width: 100%;
    }
  }

  &.error {
    .input {
      background-color: var(--input-cl-error-bg);
      border: 1px solid var(--input-cl-error);
      box-shadow: 0 2px 0px var(--input-cl-error);

      &:focus {
        border: 1px solid var(--input-cl-error);
        box-shadow: 0 2px 0px -1px  var(--input-cl-error);
      }
    }

    .label {
      color: var(--input-cl-error);
    }

    .message {
      color: var(--input-cl-error);
    }
  }

  &.transparent {
    .input {
      background-color: transparent;
    }
  }
}