.root {
  display: none;

  &::before {
    content: '';
    display: block;
    position: fixed;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(1);
    background: var(--mobile-menu-bg-cl);
    transition: transform .5s;
  }

  &.open::before {
    transform: scale(80);
  }

  @media (max-width: 825px) {
    display: block;
  }
}